
  .field{
    button, button.button, button.button.addTimeSlot{
      background-color: $red;
      color: $light;
      border-color: $red;
      &:hover{
        border: 1px $light outset;
      }
    }
  }
  div.field.filePicker button, button.deleteEvent{
    background-color: $red;
    color: $light;
    border-color: $red;
    &:hover{
      border: 1px $light outset;
    }
  }
form{
    button.button{
      background-color: $red;
      color: $light;
      border-color: $red;
      &:hover{
        border: 1px $light outset;
        color: $light;
      }
  }
}


div.columns.buttonContainer{
  margin: 15px 0 25px 0;
  display: flex;
  justify-content: flex-start;
  .button{
    margin-right: 10px;
  }
}
