.font-is-dark{
  color: $dark-blue;
}

.font-is-light{
  color: $light;
}

.background-is-light{
  background-color: $light;
}

button.button.selected{
  background-color: $red;
  color: $light;
  &:active{
    color: $light;
  }
}

.is-underlined{
    text-decoration: underline;
}
