html {
  background-color: $dark-blue;
  color: $light;
  strong {
    color: $light;
  }
}

input.input, textarea.input{
  // background-color: $light;
  background: transparent;
  border: none;
  border-bottom: 1px dashed #83A4C5;
  outline: none;
  padding: 0px 0px 0px 0px;
  color: $light;
  border-radius: 0;
  box-shadow: none;
  .location-search-input{
    color: $light;
  }
}

input.input::placeholder{
  color: $light;
  opacity: 0.6 ;
  font-style: italic !important;// this isn't working, fix?

}

hr{
  background-color: $red;
}

.panda{
  position:absolute;
  animation: run 5s;
}

@keyframes run {
    0% { transform:  translateX(0vw) rotate(0deg) scale(0.5); }
    2% { transform:  translateX(0vw) rotate(5deg) scale(0.5); }
    4% { transform:  translateX(0vw) rotate(-5deg) scale(0.5); }
    6% { transform:  translateX(0vw) rotate(5deg) scale(0.5); }
    8% { transform:  translateX(0vw) rotate(-5deg) scale(0.5); }
    10% { transform:  translateX(0vw) rotate(5deg) scale(0.5); }
    11% { transform:  translateX(0vw) rotate(0deg) scale(0.5); }
    100% { transform: translateX(110vw) rotate(-1deg) scale(1.5);; }
}
