.indexTable{
  margin: 10px 0 0 0;
  color: $dark-blue;
  background-color: $light;
  .columns{
    margin: 0;
  }
  .column{
    margin: 0;
  }
  .indexHeader{
    .title{
      color: $dark-blue;
      margin: 0;
    }
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid $dark-blue;
    align-items: center;
  }
  .indexList{
    padding: 0;
    a{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    }
    p{
      color: $dark-blue;
    }
    .leftItem{
      border-left: 1px solid grey;
    }
    .rightItem{
      border-right: 1px solid grey;
    }
    .column.columns{
      padding: 0px;
      border-bottom: 1px solid $dark-blue
      :hover{
        background-color: #DCD4C8;
      }
    }
  }
}


@media screen and (max-width: 768px){
  .indexTable{
    .indexList{
      p{
        font-size: 0.75rem;
      }
    }
  }
}
@media screen and (max-width: 600px){
  .indexTable{
    .indexList{
      p{
        font-size: 0.60rem;
      }
    }
  }
}
