.Select-placeholder{
  color: $light;
}
div.Select-input{
  width: 100%;
  input{
    min-width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    outline: none;
    padding: 0px 0px 0px 0px;
    color: $light;
    border-radius: 0;
    box-shadow: none;;
    &:focus{
      outline: none;
      border-bottom: 1px dashed $red;
    }
  }
}

div.field.filePicker{
  button{
    background-color: $light;
    font-family: $main-font;
    white-space: nowrap;
    justify-content: center;
    border-width: 1px;
    padding-bottom: calc(0.375em - 1px);
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: calc(0.375em - 1px);
    font-size: 1rem;
    border-radius: 4px;
    box-shadow: none;
    cursor: pointer;
    position: relative;
    vertical-align: top;
    color: #363636;
  }
}

div.field{
  .tagContainer{
    margin-top: 15px;
    .tag{
      margin: 5px 2px 5px 2px;
    }
  }
  figure{
    margin-bottom: 5px;
    img{
      height: 150px;
      width: 150px;
    }
  }
  span{
    .Select-multi-value-wrapper{
      color: $light;
    }
  }
  button.addTimeSlot, .datePicker{
    display: inline-block;
  }
  .datePicker{
    margin-right: 0.5rem;
  }
  span.tag{
    background-color: $light;
    color: $dark-blue;
    button.delete{
      background-color: $dark-blue;
      &:hover{
        background-color: $red;
      }
    }
    .delete::before, .modal-close::before{
      background-color: $light;
    }
    .delete::after, .modal-close::after{
      background-color: $light;
    }
  }
  .react-datepicker-ignore-onclickoutside{
    background-color: $light;
    border-color: #dbdbdb;
    color: #363636;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    max-width: 100%;
    width: 100%;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(0.375em - 1px);
    position: relative;
    vertical-align: top;
  }
}

div.Select-control{
  color: $light;
}
.Select-menu-outer{
  color: $light;
}
