.dateColumn{
  background-color: $light;
  box-sizing: border-box;
  border: 2px solid $dark-blue;
  border-radius: 8px;
  margin: 0;
  h6{
    border-bottom: 1px solid $dark-blue;
    color: $dark-blue;
  }

  .columns{
    padding: 0 5px 5px 5px;
    .column{
      margin:0;

    }
  }
}

div.timeSlotDiv{
  border: 1px solid $dark-blue;
  border-radius: 3px;
  margin: 5px 0;
  padding: 5px;
  p, strong{
    color: $dark-blue;
  }
}

// button.button.unVote{
//   background-color: $red;
//   color: $light;
// }

.buttonDiv{
  display: flex;
  justify-content: flex-end;
}
