div.columns.slotContainer{
  margin: 0;
}
div.showHeadContainer{
  display: flex;
  justify-content: space-between;
}

.dateColumn{
  box-sizing: border-box;
  border: 2px solid $light;
  border-radius: 8px;
  margin: 0 0 20px 0;
  h6{
    border-bottom: 1px solid $light;
    color: $light;
  }

  .columns{
    padding: 0 5px 5px 5px;
    .column{
      margin:0;

    }
  }
}

div.timeSlotDiv{
  border: 5px solid $dark-blue;
  border-radius: 12px;
  margin: 5px 0;
  padding: 10px;
  background-color: $light;
  p, strong{
    color: $dark-blue;
  }
  .column{

  }
  div{
    float:right;
    .checkIcon{
      margin-left: auto;
      margin-right: 0;
      height: 20px;
      width: 20px;

    }
  }
}

// button.button.unVote{
//   background-color: $red;
//   color: $light;
// }

.buttonDiv{
  display: flex;
  justify-content: flex-start;
}

.requestTable{
  width: 400px;
  background-color: $light;
  margin: 0px;
  color: $dark-blue;
  div{
    display: flex;
    justify-content: space-between;
  }
  p{
    color: $dark-blue;
  }
  button.button{
    font-size: 0.75rem;
    margin-left: 10px;
  }
  .column{
    border: 1px solid $dark-blue;
  }
}
